h1{
    margin-left: 1rem;
    border-bottom: solid 1px rgb(226, 229 ,232);
}

h3{
    margin-left: 3rem;
}
body > p{
    margin-left: 4rem;
    margin-bottom: 0rem;
}
div > p{
    margin-left: 4rem;
}
ol, ul{
    margin-left: 4rem;
}

.web_li{
    margin:0 1rem;
}
a:link{
    color: black;
}
a:visited{
    color: black;
}
.in_link:hover{
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
pre{
    background-color:rgb(246, 246, 246);
    border:solid 1px rgb(226,229,232);
    margin: 0 4rem;
    box-shadow:0px 0px 5px rgba(0, 0, 0, .3);
    white-space: pre-wrap;
    word-wrap: break-word;
}

.web-body{
    background-color:rgb(246, 246, 246);
    border:solid 1px rgb(226,229,232);
    margin: 2rem 4rem;
    box-shadow:0px 0px 5px rgba(0, 0, 0, .3);
    white-space: pre-wrap;
    word-wrap: break-word;
}



