{% extends "introduce/base.html" %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    Introduce
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block leftcontent %}
<nav class="nav flex-column">
    <a class="nav-link" href="/Introduce/editor/">编辑器测试</a>
    <a class="nav-link" href="/Introduce/entity/">实体</a>
    <a class="nav-link" href="/Introduce/mate/">mate标签</a>
    <a class="nav-link" href="/Introduce/semantic/">语义化标签</a>
    <a class="nav-link" href="/Introduce/list/">列表</a>
    <a class="nav-link" href="/Introduce/links/">超链接</a>
    <a class="nav-link" href="/Introduce/picture/">图片标签</a>
    <a class="nav-link" href="/Introduce/inline/">内联框架</a>
    <a class="nav-link" href="/Introduce/multi/">音视频</a>
</nav>
{% endblock leftcontent %}
{% block content %}
{% endblock content %}