{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor</title>
    <link rel="stylesheet" href="{% static 'CSS/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
</head>

<body>
    <h1>一、Introduce</h1>
    <h3>1. 编辑器测试</h3>
    <ol start=''>
        <li>安装VSCode</li>
        <li>安装中文语言包（Chinese）</li>
        <li>尝试安装ayu主题</li>
        <li>将一个目录作为项目目录</li>
        <li>创建一个新网页</li>
        <li>安装live server（实时渲染网页）</li>
        <li>设置代码自动储存</li>
    </ol>
    <pre>
        
        &lt;!DOCTYPE html&gt;
        &lt;html lang=&quot;zh&quot;&gt;
        &lt;head&gt;
            &lt;meta charset=&quot;UTF-8&quot;&gt;
            &lt;title&gt;Document&lt;/title&gt;
        &lt;/head&gt;
        &lt;body&gt;

        &lt;/body&gt;
        &lt;/html&gt;
    </pre>
</body>
</html>