{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entity</title>
    <link rel="stylesheet" href="{% static 'CSS/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
</head>
<body>
    <h3>2.实体</h3>
        <p>在网页中编写的多个空格默认情况会自动被浏览器解析为一个空格</p>
        <p>在HTML中有些时候，我们不能直接书写一些特殊符号</p>
        <p>            比如：多个连续的空格，比如字母两侧的大于和小于号</p>
        <p>如果我们需要在网页中书写这些特殊的符号，则需要使用html中的实体（转义字符）</p>
    <pre>
        
        &lt;!DOCTYPE html&gt;
        &lt;html lang=&quot;en&quot;&gt;
        &lt;head&gt;
            &lt;meta charset=&quot;UTF-8&quot;&gt;
            &lt;title&gt;实体&lt;/title&gt;
        &lt;/head&gt;
        &lt;body&gt;

            &lt;!-- 
                        &amp;nbsp; 空格
                        &amp;gt; 大于号
                        &amp;lt; 小于号
                        &amp;copy; 版权符号
            --&gt;
        &lt;p&gt;
            今天&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;天气真不错！
        &lt;/p&gt;
            
        &lt;p&gt;

            a&amp;lt;b&amp;gt;c
        &lt;/p&gt;

        &lt;/body&gt;
        &lt;/html&gt;
    </pre>
</body>
</html>