{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mate</title>
        <link rel="stylesheet" href="{% static 'CSS/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
    </head>
    <body>
        <h3>3.mate标签</h3>
        <p>mate主要用于设置网页中的一些元数据，元数据不是给用户看的</p>
        <ul>
            <li>
                <p>charset 指定网页的字符集</p>
            </li>
            <li>
                <p>content 指定数据的内容</p>
            </li>
            <li>
                <p>name指定数据的名称</p>
                <ul>
                    <li>
                        <p>keywords 表示网站的关键字，可以同时指定多个关键字，关键字使用 , 隔开</p>
                        <ul>
                            <li>&lt;meta name="keywords" content="网上购物,网上商城,手机,笔记本,电脑"&gt;
                            </li>
                            <li>&lt;meta name="keywords" content="网购,网上购物,在线购物,网购网站,购物网站,销售家电"&gt;
                            </li>

                        </ul>
                    </li>
                    <li>
                        <p>description 用于指定网站的描述</p>
                        <ul>
                            <li>&lt;meta
                                name="description"
                                <br>
                                content="东JD.COM-专业的综合网上购物商城,销售家电、数码通讯、电脑、家居百货、服装服饰、母婴、图书、食品等数万个品牌优质商品.便捷、诚信的服务，为您提供愉悦的网上购物体验!"&gt;
                            </li>

                        </ul>
                    </li>

                </ul>
            </li>
            <li>
                <p>http-equiv 页面重定向</p>
                <ul>
                    <li>&lt;meta http-equiv="refresh" content="3;url=https://www.mozilla.org"&gt;
                    </li>

                </ul>
            </li>
            <li>
                <p>title 标签内容会作为搜索结果的超链接上的文字显示</p>
            </li>

        </ul>
        <pre>
            
            &lt;!doctype html&gt;
            &lt;html lang=&quot;en&quot;&gt;
            &lt;head&gt;
                &lt;meta charset=&quot;utf-8&quot;&gt;

                &lt;meta name=&quot;keywords&quot; content=&quot;html5,前端,css3&quot;&gt;
                &lt;meta name=&quot;description&quot; content=&quot;这是一个非常不错的网站&quot;&gt;
                &lt;title&gt;document&lt;/title&gt;

            &lt;/head&gt;
            &lt;body&gt;
                
            &lt;/body&gt;
            &lt;/html&gt; 
        </pre>
    </body>
</html>