{% extends "introduce/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% block title %}Examples{% endblock %}
{% block content %}
    <body>
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/Introduce/entity">理论讲解</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/Introduce/entity/examples">效果展示</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Introduce/entity/practice">代码练习</a>
                    </li>
                </ul>
            </div>
            <div class="web-body">
                <p>
                    今天&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;天气真不错！
                </p>

                <p>

                    a&lt;b&gt;c
                </p>
            </div>
        </div>
    </body>
{% endblock content %}